Flask==2.1.2
Flask-Email==1.4.4
Flask-Mail==0.9.1
Flask-WTF==1.0.1
gensim==4.2.0
ipython==8.4.0
language-detector==5.0.2
matplotlib==3.5.2
nltk==3.7
numpy==1.22.3
pandas==1.4.2
plotly==5.9.0
plotly-express==0.4.1
pyLDAvis==3.3.1
python-dotenv==0.20.0
sentence-transformers==2.2.2
stop-words==2018.7.23
symspellpy==6.7.6
torch==1.12.0
tqdm==4.62.3
wordcloud==1.8.1
email_validator==1.2.1